<div class="container">
  <h1>🌽 {{ name }} 🥦</h1>

  <div class="mycards-container">
    <ng-container *ngFor="let farm of data">
      <figure class="mycard" (click)="goTo(farm['id'])">
        <div class="mycard__emoji">{{ farm["image"] }}</div>

        <div class="mycard__title-box">
          <h2 class="mycard__title">{{ farm["productName"] }}</h2>
        </div>

        <div class="mycard__details">
          <div class="mycard__detail-box">
            <h6 class="mycard__detail mycard__detail--organic">Organic!</h6>
          </div>

          <div class="mycard__detail-box">
            <h6 class="mycard__detail">{{ farm["quantity"] }} per 📦</h6>
          </div>

          <div class="mycard__detail-box">
            <h6 class="mycard__detail mycard__detail--price">
              {{ farm["price"] }}€
            </h6>
          </div>
        </div>

        <a class="mycard__link" href="/product">
          <span>Detail <i class="emoji-right">👉</i></span>
        </a>
      </figure>
    </ng-container>
  </div>
</div>

<router-outlet></router-outlet>
