<div class="container">
  <h1>🌽 {{ name }} 🥦</h1>
  ​
  <figure class="product">
    <div class="product__organic"><h5>Organic</h5></div>
    <a href="#" class="product__back">
      <span class="emoji-left">👈</span>Back
    </a>
    <div class="product__hero">
      <span class="product__emoji product__emoji--1">{{
        data[1]["image"]
      }}</span>
      <span class="product__emoji product__emoji--2">{{
        data[1]["image"]
      }}</span>
      <span class="product__emoji product__emoji--3">{{
        data[1]["image"]
      }}</span>
      <span class="product__emoji product__emoji--4">{{
        data[1]["image"]
      }}</span>
      <span class="product__emoji product__emoji--5">{{
        data[1]["image"]
      }}</span>
      <span class="product__emoji product__emoji--6">{{
        data[1]["image"]
      }}</span>
      <span class="product__emoji product__emoji--7">{{
        data[1]["image"]
      }}</span>
      <span class="product__emoji product__emoji--8">{{
        data[1]["image"]
      }}</span>
      <span class="product__emoji product__emoji--9">{{
        data[1]["image"]
      }}</span>
    </div>
    <h2 class="product__name">{{ data[1]["productName"] }}</h2>
    <div class="product__details">
      <p><span class="emoji-left">🌍</span> From Portugal</p>
      <p><span class="emoji-left">❤️</span> Vitamin B, Vitamin K</p>
      <p><span class="emoji-left">📦</span> 4 {{ data[1]["image"] }}</p>
      <p><span class="emoji-left">🏷</span> 6.50€</p>
    </div>

    <a href="#" class="product__link">
      <span class="emoji-left">🛒</span>
      <span>Add to shopping card (6.50€)</span>
    </a>

    <p class="product__description">
      A ripe avocado yields to gentle pressure when held in the palm of the hand
      and squeezed. The fruit is not sweet, but distinctly and subtly flavored,
      with smooth texture. The avocado is popular in vegetarian cuisine as a
      substitute for meats in sandwiches and salads because of its high fat
      content. Generally, avocado is served raw, though some cultivars,
      including the common 'Hass', can be cooked for a short time without
      becoming bitter. It is used as the base for the Mexican dip known as
      guacamole, as well as a spread on corn tortillas or toast, served with
      spices.
    </p>
  </figure>
</div>
