<div class="container">
  <h1>🌽 {{ name }} 🥦</h1>

  <figure class="product">
    <div class="product__organic"><h5>Organic</h5></div>
    <a href="#" class="product__back">
      <span class="emoji-left">👈</span>Back
    </a>
    <div class="product__hero">
      <span class="product__emoji product__emoji--1">
        {{ data[indexNo]["image"] }}
      </span>
      <span class="product__emoji product__emoji--2">{{
        data[indexNo]["image"]
      }}</span>
      <span class="product__emoji product__emoji--3">{{
        data[indexNo]["image"]
      }}</span>
      <span class="product__emoji product__emoji--4">{{
        data[indexNo]["image"]
      }}</span>
      <span class="product__emoji product__emoji--5">{{
        data[indexNo]["image"]
      }}</span>
      <span class="product__emoji product__emoji--6">{{
        data[indexNo]["image"]
      }}</span>
      <span class="product__emoji product__emoji--7">{{
        data[indexNo]["image"]
      }}</span>
      <span class="product__emoji product__emoji--8">{{
        data[indexNo]["image"]
      }}</span>
      <span class="product__emoji product__emoji--9">{{
        data[indexNo]["image"]
      }}</span>
    </div>
    <h2 class="product__name">{{ data[indexNo]["productName"] }}</h2>
    <div class="product__details">
      <p><span class="emoji-left">🌍</span> From {{ data[indexNo]["from"] }}</p>
      <p><span class="emoji-left">❤️</span> {{ data[indexNo]["nutrients"] }}</p>
      <p><span class="emoji-left">📦</span> {{ data[indexNo]["quantity"] }}</p>
      <p><span class="emoji-left">🏷</span> {{ data[indexNo]["price"] }}€</p>
    </div>

    <a href="#" class="product__link">
      <span class="emoji-left">🛒</span>
      <span>Add to shopping card ({{ data[indexNo]["price"] }}€)</span>
    </a>

    <p class="product__description">
      {{ data[indexNo]["description"] }}
    </p>
  </figure>
</div>
